body {
    font-family: 'PT Sans Caption', sans-serif;
}
#stateSelect {
    max-height: 5%;
    overflow: auto;
}

#searchBtn {
    margin-top: 21px;
}



#date1, #date2, #date3, #date4, #date5 {
    width: 100%; 
    background-color: white;
    padding: 5px;
}

#day1, #day2, #day3, #day4, #day5 {
    max-width: 100vw;
    min-width: 200px;
    margin-bottom: 20px;
}

#day1link, #day2link, #day3link, #day4link, #day5link {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px;
    padding: 10px;
}

div.border {
        border: solid;
    border-color: black;
    border-width: 3px;
}

#pic1, #pic2, #pic3, #pic4, #pic5, #tempF1, #tempF2, #tempF3, #tempF4, #tempF5, #tempC1, #tempC2, #tempC3, #tempC4, #tempC5, #wind1, #wind2, #wind3, #wind4, #wind5, #humid1, #humid2, #humid3, #humid4, #humid5 {
    display: inline-block;
    margin: 10px;
}

div.main {
    margin: 0 auto;
    left: 50%;
    right: 50%;
    min-height: 85vh;

}

body {
    background: url(../images/default.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
}

div.chain1 {
    max-width: 60vw;
    min-width: 200px;
    display: inline-block;
}

div.chain2 {
    max-width: 20vw;
    min-width: 200px;
    display: inline-block;
}

div.clear {
    background: url(../images/clear.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: solid;
    border-color: skyblue; 
    border-bottom-width: 3px;
    border-top-width: 3px; 
    border-left-width: 0;
    border-right-width: 0;
}

div.cloud {
    background: url(../images/rain-cloud.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: solid;
    border-color: darkgray; 
    border-bottom-width: 3px;
    border-top-width: 3px; 
    border-left-width: 0;
    border-right-width: 0;
}

div.input {
    padding: 10px;
    min-width: 200px;
    max-width: 60vw;
}

div.main {
    width: 100%;
    background-color: white;
}

div.rain {
    background: url(../images/rain-drop-glass.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: solid;
    border-color: darkblue; 
    border-bottom-width: 3px;
    border-top-width: 3px; 
    border-left-width: 0;
    border-right-width: 0;
}

div.snow {
    background: url(../images/snow.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: solid;
    border-color: #0099ff; 
    border-bottom-width: 3px;
    border-top-width: 3px; 
    border-left-width: 0;
    border-right-width: 0;
}

div.select {
    padding: 10px;
    min-width: 200px;
    max-width: 20vw;
    display: inline-block;
}

div.space {
    margin-bottom: 10px;
}

div.sun {
    background: url(../images/sun.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: solid;
    border-color: skyblue; 
    border-bottom-width: 3px;
    border-top-width: 3px; 
    border-left-width: 0;
    border-right-width: 0;
}

div.storm {
    background: url(../images/storm.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: solid;
    border-color: grey; 
    border-bottom-width: 3px;
    border-top-width: 3px; 
    border-left-width: 0;
    border-right-width: 0;

}

h3 {
    padding: 10px;
    text-align: center;
}

img {
    height: 19vw;
    width: 19vw;
}

#imagelol {
    float: left;
}

.events {
    background-color: #eff9fd;
    border: 2px solid black;
}

.eventImages {
    margin-right: 20px;
}

.caret {
    visibility: hidden;
}

div.row {
    margin: 0;
    padding: 0;
}

div.ugh {
    padding-bottom: 10px;
}

div.margin {
    width: 100%;
    margin: 0 auto; 
}